# Example config.toml for mise
[settings]
legacy_version_file = true  # For compatibility with .node-version, .python-version etc.
jobs = 4                    # Number of jobs to run in parallel
idiomatic_version_file_enable_tools = ["node"]

[settings.npm]
bun = true

[settings.cargo]
binstall = true

[settings.pipx]
uvx = true

# You can add tool-specific configurations
[tools]
node = "25"
python = ['latest', '3.13', '3.12', '3.11']
rust = "stable"
go = "latest"
bun = 'latest'
ruby = 'latest'
cargo-binstall = 'latest'

# npm (there is not .default-npm-packages)
"npm:eslint" = "latest"
"npm:prettier" = "latest"
"npm:typescript" = "latest"
"npm:ts-node" = "latest"
"npm:concurrently" = "latest"
"npm:pnpm" = "latest"
"npm:@github/copilot" = "latest"
"npm:@mermaid-js/mermaid-cli" = "latest"

